body {
  overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  pointer-events: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  -ms-user-select: none;
  user-select: none;
}

.member-photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}

td {
  max-width: 10vw;
  word-break: break-word;
  white-space: normal;
}
.row.position-relative {
  position: relative;
}

.section-title {
  position: relative;
  font-family: monospace;
  font-size: clamp(2rem, 8vw, 8rem);
  font-weight: bold;
  padding: 0.5rem 1rem;
  color: #007bff;
  z-index: 2;
}

.full-width-bar {
  position: absolute;
  bottom: 0.75rem;
  right: 0;
  height: 10px;
  width: 100%;
  background-color: #007bff;
  border-radius: 6px;
  z-index: 1;
  overflow: hidden;
}

.full-width-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10%;
  width: 10%;
  height: 100%;
  background-color: white;
  transform: skewX(-60deg);
  animation: slide-right 30s linear infinite;
  pointer-events: none;
}

@keyframes slide-right {
  0% {
    left: -10%;
  }
  100% {
    left: 100%;
  }
}


.team-row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.team-row > .col {
  position: relative;
}

.card {
  position: relative;
  z-index: 1;
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  border-radius: 0;
  /* box-shadow: 0 4px 12px #bababa; */
}

.card-title {
  font-weight: 600;
  color: #090C33;
}

@media (max-width: 576px) {
  .full-width-bar {
    bottom: -0.5rem;
  }
}
